
@font-face {
    font-family: 'SegoePro-Black'; /*a name to be used later*/
    src: url('fonts/SegoePro-Black.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'SegoePro-Bold'; /*a name to be used later*/
    src: url('fonts/SegoePro-Bold.ttf'); /*URL to font*/
}

html, body {
    padding:0;
    width:100%;
    height:100%;
    margin:0;
    top:0px;
    left:0px;
    background-color:rgba(255,255,255,0);
    text-align: justify;
}

p {
    color:rgba(0,0,0,1);
    font-size:14px;
    line-height: 1.0;
    text-align: justify;
}

.header {
    column-span: all; 
    font-size:80px;
    font-family: "Baskerville";
    display: none;
    color:rgba(0,0,0,1);
    font-size:12px;
}

.para {
    font-stretch: condensed;
    text-align: justify;
    word-spacing: normal;
}
.main {
    position:absolute;
    min-height: 100%;
    height: 100%;
    width:100%;
    padding:0px;
    margin:0px;
    text-align: justify;
}

.twoColumns{
    position:absolute;
    column-gap: 40px;
    column-fill: auto;
    column-rule:1px solid #ccc;
    column-count: 4;
    height:100%;
        
}

.colDefaults {
    padding:50px;
}